<div class="col-md-12 question-tile">
  {{#link-to 'question' question.id}}
  <h3>{{question.title}}</h3>
  {{/link-to}}
  <h5>{{question.author}} - {{question.date}}</h5>
  <p>{{question.body}}</p>
</div>
