<div class="col-md-4">
  <h3>About Me</h3>
  <p>Hi! My name is Matthew Reyes and this is my QA board project for Epicodus!  We were tasked to create a message board type app where users can ask and answer questions. Enjoy! </p>
</div>
