<div class="container">
  <header class = "jumbotron">
    <h1>{{#link-to 'index'}}Tech-Riddler{{/link-to}}</h1>
  </header>
  <div class="container">
    {{outlet}}
  </div>
  <hr>
  <footer>
    {{#link-to 'contact'}}Contact{{/link-to}}
    {{#link-to 'about'}}About Me{{/link-to}}
  </footer>
</div>
