<div class="container">
  <header class = "jumbotron">
    <h1>{{#link-to 'index'}}Riddler{{/link-to}}</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Contact Us{{/link-to}}
    {{#link-to 'about'}}About Us{{/link-to}}
  </footer>
</div>
