<div class="row">
  <div class="col-md-8">
    {{#link-to 'new-question'}}New Question{{/link-to}}
    {{#each model as |question|}}
      {{question-tile question=question}}
    {{/each}}
  </div>
</div>
