<div class="row">
  <div class="col-md-8">
    {{#link-to 'new-question'}}<button class="btn btn-sm btn-primary" name="New Question" >New Question</button>{{/link-to}}
    {{#each model.questions as |question|}}
      {{index-question-tile question=question}}
    {{/each}}
  </div>
</div>
